html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
  body {
    color: black;
    background: white;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Kameron:wght@400;700&family=Noto+Sans+TC:wght@500&family=PT+Serif:wght@400;700&family=Pragati+Narrow&family=Sora:wght@300;600&display=swap');